{% extends "layout.html" %}

{% block content %}

<div>

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('Dashboard.Dashboard') }}">Home</a>
            <form class="d-flex" role="search" action="/TranInfo/Logout" method="post">
                <button class="btn btn-outline-primary" type="submit">Logout</button>
            </form>
        </div>
    </nav>

</div>

<div class="mt-2">
    <div>
        <div class="card m-4">
            <div class="card-header text-start">
                <h5>Your Account Summary</h5>
            </div>
            <div class="card-body text-center">
                <table class="table text-start">
                    <tr>
                        <td class="col-6">
                            Account No
                        </td>
                        <td class="col-6">
                            <p>: {{ data['adata']['acc_no'] }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-6">
                            Account Type
                        </td>
                        <td class="col-6">
                            <p>: {{ data['adata']['acc_type'] }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-6">
                            Amount
                        </td>
                        <td class="col-6">
                            <p>: {{ data['adata']['amount'] }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="card m-4">

        <div class="card-header text-start">
            <h5>Transaction History</h5>
        </div>

        <div class="card-body text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-3" scope="col">Transaction Id</th>
                        <th class="col-3" scope="col">Transaction Type</th>
                        <th class="col-3" scope="col">Amount</th>
                        <th class="col-3" scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data['tdata'] %}
                        <tr>
                            <td class="col-3" scope="col">{{ i }}</td>
                            <td class="col-3" scope="col"> {{ data['tdata'][i]['ttype'] }} </td>
                            <td class="col-3" scope="col"> {{ data['tdata'][i]['tamount'] }} </td>
                            <td class="col-3" scope="col"> {{ data['tdata'][i]['tdatetime'] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

{% endblock content %}